/* Blog error animation */
@keyframes error {
	0% {background-color: #fff;}
	
	50% {background-color: $bePinkColour;}
	
	100% {background-color: #fff;}
}

/* Shouts blink Animation */
@keyframes blink {
	from {width: 1px;}

	to {width: 0;}
}