/* BBCode stuffs */
/* Quotes */
div.quotetitle, div.quotecontent {
	background-color: transparent;
	border: none;
	border-left: 5px solid #c80000;
	padding-left: 10px;
}
div.quotetitle {
	font-style: italic;
}

.quotecontent::before {
	content: $openQuote;
	font: normal 30px times;
}

.quotecontent::after {
	@extend .quotecontent::before;

	content: $closeQuote;
	position: relative;
	top: 1em;
}

/* Lists */
ul, ol {
	padding-left: 30px;
}

/* Code */
.codecontent {
	background-color: #fff;
	color: #000;
	font-family: monospace !important;
	border: 2px solid $codeBorderColour;
	position: relative;
	z-index: 0;
	max-height: 30em;
	overflow: auto;
	white-space: pre;
	border-radius: 20px 20px 3px 3px;
	margin: 1em 0;
	box-sizing: border-box;
}

.codecontent > div::before {
	content: attr(class);
	background-image: linear-gradient(to right, transparentize($codeBorderColour, 1), $codeBorderColour);
	position: relative;
	width: -webkit-calc(100% + 2px);
	width: calc(100% + 2px);
	height: 20px;
	z-index: 100;
	display: block;
	font: bold 14px Arial !important;
	text-transform: uppercase;
	border-radius: 20px 20px 0 0;
	padding-left: 40px;
	padding-top: 5px;
}

// Fix silly class names
.cpp::before {content: "C++";}
.csharp::before {content: "C#";}
.obj-c::before {content: "Objective C";}

.codetitle {display: none;}

div.codecontent ol {
	padding-left: 2em;
	counter-reset: item;
	list-style-type: none;
}

div.codecontent li:before {
	content: counter(item, decimal);
	display: inline-block;
	min-width: 2em;
	counter-increment: item;
	color: #AAA;
	margin-left: -2em;
	padding: 0 10px;
	text-align: right;
}