@mixin catmsg {
	content: "U HAS VRY SMALL SCREEN!";
	background-image: url(#{$catURL});
	background-size: 100% AUTO;
	font-size: 50px;
	color: white;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}