// Colours
$aColour: #555;
$aHoverColour: #888;

$selectColour: #3ca2a2;
$sideSelectColour: #1e5151;

$codeBorderColour: #dcdcdc;

// Font size
$fontSize: 14px;

// Unicode values
$gear: "\2699";
$leftPen: "\270D";
$envelope: "\2709";
$openQuote: "\201C";
$closeQuote: "\201D";

// Blog errors variables
$beMoveAmount: 95px;
$bePinkColour: #fcc;

// Icon element selectors
$iconParent: "#custom-block-widget ul:last-child li";
$codeIcon: ".codecontent > div > ol";

// Images
$catURL: "http://tungsten.site40.net/css/CatSurprised.jpg";