// Variables stylesheet
@import "_variables.scss";

// Mixins stylesheet
@import "_mixins.scss";

/* CSS Icons (heavily based on work by Nicholas Gallagher [read: essentially copied]) */
.modactions li::before, .modactions li::after,
.modactions li a::before, .modactions li a::after,
#{$iconParent} a::before,
#{$iconParent} a::after,
#{$iconParent} a span::before,
#{$iconParent} a span::after,
.panel.bg2::before, .panel.bg2::after,
#main .submit-buttons::before, #main .submit-buttons::after,
#shouts-widget fieldset:nth-child(3)::before, #shouts-widget fieldset:nth-child(3)::after,
#blog_searchform div::before, #blog_searchform div::after,
.post-tags a:first-child::before, .post-tags a:first-child::after,
#tabs a::before, #tabs a::after,
#tabs a span::before, #tabs a span::after {
	margin: -8px 0px 0px;
	background: none repeat scroll 0% 0% #000;
}

.modactions li::before, .modactions li::after,
.modactions a::before, .modactions a::after,
#{$iconParent} a::before,
#{$iconParent} a::after,
#{$iconParent} a span::before,
#{$iconParent} a span::after,
.panel.bg2::before, .panel.bg2::after,
#main .submit-buttons::before, #main .submit-buttons::after,
#shouts-widget fieldset:nth-child(3)::before, #shouts-widget fieldset:nth-child(3)::after,
#blog_searchform div::before, #blog_searchform div::after,
.post-tags a:first-child::before, .post-tags a:first-child::after,
#tabs a::before, #tabs a::after,
#tabs a span::before, #tabs a span::after,
#tabs a span::before, #tabs a span::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	
	@include vendorize(transition, 0.5s ease);
}

/* Modactions */
.modactions li {
	position: relative;
	font-size: 0;

	// Edit Post
	&:nth-child(1):not(:last-child) a {
		&::before {
			left:-50px;
			width:5px;
			height:5px;
			margin-top:2px;
			background:#000;
			@include vendorize(transform, skew(-10deg, -10deg));
		}

		&::after {
			left:-50px;
			width:13px;
			height:6px;
			border-left:1px solid #fff;
			margin-top:-3px;
			/* css3 */
			@include vendorize(transform, rotate(-45deg));
		}

		&:hover::before,
		&:hover::after {
			background:#228B22;
		}
	}

	// Delete Post
	&:nth-child(2) {
		&::before { // Lid of the trash can
			left:-30px;
			width:13px;
			height:11px;
			margin-top:-6px;
			border-top:2px solid #000;
			background:transparent;
		}

		&::after { // Ribs of the trash can
			left:-26px;
			width:1px;
			height:7px;
			border-right:3px double #000;
			border-left:1px solid #000;
			margin-top:-2px;
			background: transparent;
		}
		
		& a {
			&::before { // Box of the trash can
				left:-30px;
				width:9px;
				height:11px;
				margin-top:-6px;
				border:2px solid #000;
				background:transparent;
			}

			&::after { // Lid of the trash can
				left:-27px;
				width:3px;
				height:2px;
				margin-top:-9px;
				border:2px solid #000;
				border-bottom:0;
				background:transparent;
				/* css3 */
				-webkit-border-top-left-radius:2px;
				-webkit-border-top-right-radius:2px;
				@include vendorize(border-radius, 2px 2px 0 0);
			}
		}

		&:hover::after,
		a:hover::before,
		a:hover::after {
			border-color:#F00;
			background:transparent;
		}

		a:hover::after {
			top: -7px;
			left: -25px;
			transform: rotate(20deg);
		}

		&:hover {
			&::before {
				border-color: #f00;
				top: -7px;
				left: -31px;
				transform: rotate(20deg);
			}

			&:hover a::before,
			&:hover a::after {
				border-color: #f00;
			}

			&:hover a::after {
				top: -7px;
				left: -25px;
				transform: rotate(20deg);
			}
		}
	}

	// Report Post
	&:last-child:not(:nth-child(2)) a {
		&::before {
			left:-10px;
			width:7px;
			height:7px;
			margin-top:-5px;
			border-width:7px 0 0 2px;
			border-style:solid;
			border-color:#000;
			background:transparent;
			/* css3 */
			@include vendorize(transform, skewY(-8deg));
		}

		&::after {
			left:-4px;
			width:6px;
			height:7px;
			margin-top:-3px;
			background:#000;
			/* css3 */
			@include vendorize(transform, skewY(-6deg));
		}

		&:hover::before {
			border-color:#F44;
			background:transparent;
		}

		&:hover::after {
			background-color:#F44;
		}
	}
}

/* Display/hide Links */
#{$iconParent} {
	font-size: 0px;

	// Hide link
	&:last-child a {
		&::before {
			left:calc(50% - 8px);
			width:16px;
			height:16px;
			/* css3 */
			@include vendorize(border-radius, 16px);
		}

		&::after {
			border-width:5px 0 5px 6px;
			border-style:solid;
			border-color:transparent #fff;
			margin-top:-5px;
			background:transparent;
		}

		& span::before {
			z-index:10;
			width:5px;
			height:4px;
			margin-top:-2px;
			background:#fff;
		}

		&::after {
			left:calc(50% - 5px);
			border-width:0 5px 6px;
			border-color:#fff transparent;
			margin-top:-6px;
		}

		& span::before {
			left:calc(50% - 2px);
			width:4px;
			height:5px;
			margin-top:0;
		}

		&::after {
			border-width:6px 5px 0;
			margin-top:0;
		}

		& span::before {
			margin-top:-5px;
		}
	}

	// Description Link
	&:nth-child(1) a {
		&::before {
			content:"i";
			left:calc(50% - 8px);
			width:16px;
			height:16px;
			margin-top:-8px;
			font-family: Times;
			font-size:$fontSize;
			font-weight:bold;
			font-style:italic;
			line-height:15px;
			text-align:center;
			color:#fff;
			background:#000;
			/* css3 */
			@include vendorize(border-radius, 16px);
		}

		&:hover::before {
			background: #00f;
		}
	}

	// Archives Link
	&:nth-child(2) a {
		&::before { // Background
			left: calc(50% - 13px);
			width: 13px;
			height: 13px;

			border: 2px solid #000;
			background: transparent;

			@include vendorize(border-radius, 13px);
		}

		span {
			&::before { // Large hand
				position: absolute;
				left: calc(50% - 5px);
				top: 13px;

				width: 2px;
				height: 6px;

				background-color: #000;

				animation: spin 3s linear infinite;
				content: "";
				transform-origin: 1px 6px;
			}

			&::after { // Small hand
				display: block;
				left: calc(50% - 5px);
				top: 14px;

				width: 2px;
				height: 5px;

				background-color: #000;

				animation: spin 6 * 3s linear infinite;
				content: "";
				transform-origin: 1px 5px;
				transform: rotate(30deg);
			}

			&:hover {
				&::before,
				&::after {
					background-color: #0f0;
				}

				&::before {
					transform: rotate(360deg);
				}

				&::after {
					transform: rotate(90deg);
				}
			}
		}

		&:hover {
			&::before {
				border-color: #c00;
			}

			span {
				&::before,
				&::after {
					background-color: #0c0;
				}

				&::before {
					transform: rotate(360deg);
				}

				&::after {
					transform: rotate(90deg);
				}
			}
		}
	}

	// Shouts Link
	&:nth-child(3) a {
		&::before {
			left: calc(50% - 10px);
			width:16px;
			height:10px;
			border:  1px solid #000;
			margin-top:-8px;
			/* css3 */
			@include vendorize(box-sizing, border-box);
			@include vendorize(border-radius, 2px);
			
		}

		&::after {
			left:calc(50% - 1px);
			border:2px solid transparent;
			border-top-color:#000;
			border-left-color:#000;
			margin-top:2px;
			background:transparent;
		}

		span::before {
			width: 1px;
			height: 6px;
			left: calc(50% - 7px);
			margin-top: -6px;

			@include vendorize(animation, blink 1.5s ease 0s infinite normal);
		}

		&:hover {
			&::before {
				background: transparent;
				border-color: #0a0;
			}

			&::after {
				border-top-color: #0a0;
				border-left-color: #0a0;
			}

			span::before {
				background-color: #0a0;
			}
		}
	}

	// Tags Link
	&:nth-child(4) a {
		&::before {
			left:calc(50% - 8px);
			width:9px;
			height:15px;
			margin-top:-8px;
			background:#000;
			/* css3 */
			-webkit-border-top-left-radius:3px;
			-webkit-border-top-right-radius:3px;
			-moz-border-radius:3px 3px 0 0;
			border-radius:5px 5px 0 0;
			@include vendorize(transform, rotate(-40deg));
		}

		&::after {
			left:calc(50% - 7px);
			width:3px;
			height:3px;
			margin-top:-4px;
			background:#fff;
			@include vendorize(border-radius, 5px);
		}

		&:hover::before {
			background: #842;
		}
	}

	// Contributors Link
	&:nth-child(5) a {
		& span::before { // Tip of the pencil
			left:calc(50% - 4px);
			border-width:2px 0 2px 2px;
			border-style:solid;
			border-color:transparent #000;
			margin-top:-1px;
		}

		&::before { // Border of the paper
			left:calc(50% - 10px);
			width:10px;
			height:10px;
			border:2px solid #000;
			margin-top:-6px;
			background:transparent;
			/* css3 */
			@include vendorize(border-radius, 3px);
		}

		&::after { // Body of the pencil
			left:calc(50% - 4px);
			width:10px;
			height:3px;
			border:1px solid #fff;
			margin-top:-6px;
			/* css3 */
			@include vendorize(transform, rotate(-45deg));
		}

		&:hover {
			span::before {
				border-color: #777;
				top: 8px;
			}

			&::before {
				border-color: #ccc;
			}

			&::after {
				background-color: #842;
				top: 8px;
			}
		}
	}

	// Categories Link
	&:nth-child(6) a {
		&::before {
			left:calc(50% - 12px);
			width:16px;
			height:12px;
			margin-top:-6px;
			/* css3 */
			-webkit-border-bottom-right-radius:1px;
			-webkit-border-bottom-left-radius:1px;
			-moz-border-radius:0 0 1px 1px;
			border-radius:0 0 1px 1px;
		}

		&::after {
			left:calc(50% - 10px);
			width:6px;
			height:2px;
			margin-top:-8px;
			background:#000;
			/* css3 */
			-webkit-border-top-right-radius:1px;
			-webkit-border-top-left-radius:1px;
			-moz-border-radius:1px 1px 0 0;
			border-radius:1px 1px 0 0;
		}

		&:hover::before,
		&:hover::after {
			background: #55f;
		}
	}

	// Custom Block Link
	&:nth-child(7) a {
		& span::before,
		&::before {
			left:calc(50% - 3px);
			border-width:10px 0 10px 8px;
			border-style:solid;
			border-color:transparent #000;
			margin-top:-9px;
			background:transparent;
			/* css3 */
			@include vendorize(transform, rotate(22.5deg));
		}

		&::before {
			left:calc(50% - 3px);
			/* css3 */
			@include vendorize(transform, rotate(157.5deg));
		}

		&::after {
			left: calc(50% - 9px);
			border-width:8px 10px 0;
			border-style:solid;
			border-color:#000 transparent;
			margin-top:-3px;
			background:transparent;
		}

		&:hover {
			span::before,
			span:hover::before,
			&::before {
				border-color: transparent #ee0;
			}

			&::after {
				border-color: #ee0 transparent;
			}
		}
	}

	// About Owner Link
	&:nth-child(8) a{
		&::before { // The body of the person
			left:calc(50% - 12px);
			width:16px;
			height:5px;
			margin-top:1px;
			/* css3 */
			-webkit-border-top-right-radius:5px;
			-webkit-border-top-left-radius:5px;
			-moz-border-radius:5px 5px 0 0;
			border-radius:5px 5px 0 0;
		}

		&::after { // The head of the person
			left:calc(50% - 7px);
			width:6px;
			height:10px;
			margin-top:-7px;
			/* css3 */
			-webkit-border-top-right-radius:5px;
			-webkit-border-top-left-radius:5px;
			-webkit-border-bottom-right-radius:5px 10px;
			-webkit-border-bottom-left-radius:5px 10px;
			-moz-border-radius:5px 5px 5px 5px / 5px 5px 10px 10px;
			border-radius:5px 5px 5px 5px / 5px 5px 10px 10px;
		}

		&:hover {
			&::before {
				background-color: #aae;
			}

			&::after {
				background-color: #eaa;
			}
		}
	}

	// Blog Stats Link
	&:nth-child(9) a {
		&::before {
			left:calc(50% - 10px);
			border:8px solid #000;
			margin-top:-7px;
			/* css3 */
			@include vendorize(border-radius, 16px);
		}

		&::after {
			left:calc(50% - 4px);
			top: 11px;
			width:8px;
			height:8px;
			border-width:0 0 2px 2px;
			border-style:solid;
			border-color:#000;
			margin-top:-8px;
			background:#000;
			/* css3 */
			-webkit-border-top-right-radius:16px;
			-moz-border-radius:0 16px 0 0;
			border-radius:0 16px 0 0;
		}

		&:hover::before {
			border-color:#77f;
		}

		&:hover::after {
			background:#9d2ca3;
			border-color: #fff;
			left: calc(50% - 3px);
			top: 10px;
		}
	}

	// RSS Link
	&:nth-child(10) a {
		&::before {
			left:calc(50% - 8px);
			width:5px;
			height:5px;
			margin-top:0;
			/* css3 */
			@include vendorize(border-radius, 5px);
		}

		&::after {
			left:calc(50% - 8px);
			width:8px;
			height:8px;
			border-width:5px 5px 0 0;
			border-style:double;
			border-color:#000;
			background:transparent;
			/* css3 */
			-webkit-border-top-right-radius:25px;
			-moz-border-radius:0 25px 0 0;
			border-radius:0 25px 0 0;
		}

		&:hover {
			&::before {
				background:#c55500;
			}


			&::after {
				border-color:#c55500;
				width:11px;
				height: 11px;
				top: 8px;
			}
		}
	}
}

/* Delete Shouts */
#shouts-widget fieldset:nth-child(3) {
	position: relative;

	&:before {
		border: solid #000;
		border-width: 7px 3px;
		border-radius: 16px;
		left: calc(50% - 43px);
		top: -16px;
		width: 10px;
		height: 2px;
		margin-top: -2px;
		background: #fff;
	}

	&:after {
		left: calc(50% - 40px);
		top: -9px;
		width:10px;
		height:2px;
		margin-top:-2px;
		background:#fff;
	}

	&:hover {
		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}

/* Search Button */
#blog_searchform fieldset {
	position: relative;

	div {
		&::before { /* Circle of the glass */
			left: calc(50% - 50px);
			top: 33px;
			width:6px;
			height:6px;
			border:3px solid #000;
			background:transparent;
			/* css3 */
			-webkit-border-radius:12px;
			-moz-border-radius:12px;
			border-radius:12px;
		}

		&::after { /* Handle of the glass */
			left: calc(50% - 39px);
			top: 34px;
			width:3px;
			height:7px;
			margin-top:0;
			/* css3 */
			-webkit-transform:rotate(-45deg);
			-moz-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			-o-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}
}

/* Postform */
/* Preview */
.panel.bg2 {
	position: relative;

	&::before {
		left:calc(25% - 50px);
		width:14px;
		height:14px;
		margin-top:-18px;
		background:#000;
		-webkit-border-top-left-radius:12px;
		-webkit-border-bottom-right-radius:12px;
		-moz-border-radius:12px 0 12px 0;
		border-radius:12px 0 12px 0;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
	}

	&::after {
		left:calc(25% - 47px);
		width:4px;
		height:4px;
		border:2px solid #fff;
		margin-top:-15px;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
	}
}

/* Submit */
#main .submit-buttons {
	position: relative;

	&::before {
		left: calc(75% - 45px);
		width:16px;
		height:16px;
		margin-top:-18px;
		/* css3 */
		-webkit-border-radius:16px;
		-moz-border-radius:16px;
		border-radius:16px;
		background:#000;
	}

	&::after {
		left:calc(75% - 40px);
		width:3px;
		height:8px;
		border-width:0 2px 2px 0;
		border-style:solid;
		border-color:#fff;
		margin-top:-16px;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
	}
}

/* Tags */
.post-tags {
	font-size: 0px;
	position: relative;

	a {
		font-size: $fontSize;
		padding: 3px;
	}

	a:first-child {
		padding-left: 20px;
	}

	a:first-child::before {
		left:6px;
		width:9px;
		height:15px;
		margin-top:-8px;
		background:#000;
		/* css3 */
		-webkit-border-top-left-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-radius:3px 3px 0 0;
		border-radius:5px 5px 0 0;
		@include vendorize(transform, rotate(-40deg));
	}

	a:first-child::after {
		left:7px;
		width:3px;
		height:3px;
		margin-top:-4px;
		background:#fff;
		@include vendorize(border-radius, 5px);
	}

	&:hover a::before {
		background: #842;
	}
}

/* Postform Tabs */
#tabs li {
	list-style-type: none;
	position: relative;
	padding: 3px 3px 3px 25px;
}

/* Options */
#options-panel-tab a::after {
	left:13px;
	width:3px;
	height:5px;
	margin-top:-8px;
	background:#fff;
	/* css3 */
	@include vendorize(transform, rotate(45deg));
}

#options-panel-tab a span::before {
	left:6px;
	width:4px;
	height:15px;
	margin-top:-7px;
	background:#000;
	/* css3 */
	@include vendorize(transform, rotate(45deg));
}

#options-panel-tab a span::after {
	left:8px;
	width:9px;
	height:9px;
	background:#000;
	@include vendorize(border-radius, 8px);
}

/* Permissions */
#permissions-panel-tab a::before,
#permissions-panel-tab a::after {
	z-index:10;
	left:8px;
	width:3px;
	height:3px;
	margin-top:-2px;
	background:#fff;
	/* css3 */
	@include vendorize(border-radius, 3px);
}

#permissions-panel-tab a::before {
	left:9px;
	width:1px;
	height:4px;
	margin-top:0px;
}

#permissions-panel-tab a span::before {
	left:3px;
	width:13px;
	height:10px;
	margin-top:-4px;
}

#permissions-panel-tab a span::after {
	left:5px;
	width:5px;
	height:5px;
	border:2px solid #000;
	border-bottom:0;
	margin-top:-11px;
	background:transparent;
	/* css3 */
	@include vendorize(border-radius, 5px 5px 0 0);
}

/* Subscription */
#subscriptions-panel-tab a span::before {
	z-index:10;
	left:6px;
	width:12px;
	height:12px;
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color:#fff;
	margin-top:-13px;
	background:transparent;
	/* css3 */
	@include vendorize(transform, rotate(39deg) skew(-12deg));
}

#subscriptions-panel-tab a::before {
	left:3px;
	width:6px;
	border-width:6px;
	border-style:solid;
	border-color:#000 #000 transparent;
	margin-top:-7px;
	background:transparent;
}

#subscriptions-panel-tab a::after {
	left:4px;
	border-width:0 8px 9px;
	border-style:solid;
	border-color:#000 transparent;
	margin-top:-3px;
	background:transparent;
}

/* Upload Attachment */
#attach-panel-tab a::before {
	left:5px;
	width:8px;
	height:12px;
	border:2px solid #000;
	background:transparent;
}

#attach-panel-tab a::after {
	left:4px;
	border-width:3px;
	border-style:solid;
	border-color:#fff #000 #000 #fff;
	margin-top:-9px;
	background:transparent;
}

/* Tags */
#tags-panel-tab a::before {
	left:6px;
	width:9px;
	height:15px;
	margin-top:-8px;
	background:#000;
	/* css3 */
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius:3px 3px 0 0;
	border-radius:5px 5px 0 0;
	@include vendorize(transform, rotate(-40deg));
}

#tags-panel-tab a::after {
	left:7px;
	width:3px;
	height:3px;
	margin-top:-4px;
	background:#fff;
	@include vendorize(border-radius, 5px);
}

/* Blog Errors */
#blog-errors {
	&::after {
		content: "Error";
		position: fixed;
		width: 10%;
		height: 20px;
		left: 45%;
		background: #f00;
		top: 10px;

		@include vendorize(border-radius, 0px 0px 6px 6px);
		@include vendorize(transition, top 1s ease);
	}

	p {
		&::before, &::after {
			content: "";
			position: fixed;
			width: 12px;
			height: 12px;
			border: 1px solid #f00;
			top: 10px;

			@include vendorize(transition, top 1s ease);
		}

		&::before {
			left: calc(45% - 12px);
			border-width: 1px 1px 0px 0px;

			@include vendorize(border-top-right-radius, 6px);
			@include vendorize(box-shadow, 4px 0px 0 #f00);
		}

		&::after {
			right: calc(45% - 12px);
			border-width: 1px 0px 0px 1px;

			@include vendorize(border-top-left-radius, 6px);
			@include vendorize(box-shadow, -4px 0px 0 #f00);
		}
	}

	&:hover {
		&::after {
			top: 10px + $beMoveAmount;
		}

		p {
			&::before, &::after {
				top: 10px + $beMoveAmount;
			}
		}
	}
}